/**
 * Basic elements: `hr`
 */

hr {
	--_fs-hr-space: var(--fs-space--8);
	border-color: var(--fs-color--border);
	border-width: var(--fs-border-width--default) 0 0 0;
	margin-block: var(--_fs-hr-space);
	width: var(--fs-space--full);

	@media (--fs-viewport--min-md) {
		--_fs-hr-space: var(--fs-space--12);
	}
}
