/**
 * Basic html styling: List
 */

::marker {
  color: var(--fs-color--focus);

  ol > & {
    font-size: var(--fs-font-size--sm);
    font-weight: var(--fs-font-weight--bold);
    line-height: var(--fs-line-height--sm);
  }
}

ol,
ul,
menu,
dir,
dl {
  --fs-list-space: var(--fs-space--3);
  margin-block: var(--fs-list-space);
}

ol,
ul {
  padding-inline-start: var(--fs-space--8);
}

ol {
  list-style-type: decimal-leading-zero;
}

li {
  padding-inline-start: var(--fs-space--1);

  :is(
    ol,
    ul,
    menu,
    dir,
    dl
  ) > & {
    margin-block: var(--fs-space--1);
  }
}

dt {
  font-weight: var(--fs-font-weight--bold);
  margin-block-start: var(--fs-space--2);
}

dd {
  margin-block-end: var(--fs-space--2);
  margin-inline-start: 0;
}
