/**
 * Basic html styling: Table
 */

table {
  --fs-table-space: var(--fs-space--6);
  border-collapse: collapse;
  border-spacing: 0;

  font-family: var(--fs-font-family--default);
  padding-inline: var(--fs-space--2);
  margin-block: var(--fs-table-space);

  @media (--fs-viewport--md) {
    --fs-table-space: var(--fs-space--10);
  }
}

tr {
  thead &,
  tfoot &,
  tbody &:nth-child(even) {
    background-color: var(--fs-color--background);
  }
}

th,
td {
  padding: var(--fs-space--2) var(--fs-space--3);

  &:first-child {
    padding-inline-start: var(--fs-space--4);
  }

  &:last-child {
    padding-inline-end: var(--fs-space--4);
  }
}

th {
  color: var(--fs-color--strong);
  font-weight: var(--fs-font-weight--bold);
  text-align: start;
  vertical-align: bottom; /* @todo Write in modern CSS with logical properties */
}

td {
  vertical-align: text-top; /* @todo Write in modern CSS with logical properties */
}

caption {
  caption-side: bottom;
  color: var(--fs-color--text-1);
  font-size: var(--fs-font-size--sm);
  line-height: var(--fs-line-height--sm);
  margin-block: var(--fs-space--2);
  text-align: start;
}
