@scope (.fs-grid) {
  & {
    padding-inline: var(--fs-grid--padding);
  }

  /* Default grid child element */
  & > * {
    padding-inline: calc(var(--fs-grid--column-gap) / 2);
    width: var(--fs-grid--width);
  }

  & > :not(.fs-grid__full) {
    @media (--fs-viewport--md) {
      width: calc(10 * var(--fs-grid--column-width));
      margin-inline-start: calc(1 * var(--fs-grid--column-width));
    }
  }

  & > :is(ol, ul) {
    padding-inline-start: calc(var(--fs-grid--column-gap) / 2 + var(--fs-space--8));
  }
}
