.ft-font--sm {
  font-size: var(--ft-font-size--sm);
  line-height: var(--ft-line-height--sm);
}

.ft-font--base {
  font-size: var(--ft-font-size--base);
  line-height: var(--ft-line-height--base);
}

.ft-font--md {
  font-size: var(--ft-font-size--md);
  line-height: var(--ft-line-height--md);
}

.ft-font--lg {
  font-size: var(--ft-font-size--lg);
  line-height: var(--ft-line-height--lg);
}

.ft-font--xl {
  font-size: var(--ft-font-size--xl);
  line-height: var(--ft-line-height--xl);
}

.ft-font--bold {
  font-weight: var(--ft-font-weight--bold);
}

.ft-font--serif {
  font-family: var(--ft-font-family--serif);
}

.ft-font--italic {
  font-style: italic;
}
