.ft-flex {
  display: flex;
}

.ft-flex--row {
  flex-direction: row;
}

.ft-flex--column {
  flex-direction: column;
}

.ft-flex--align-start {
  align-items: flex-start;
}

.ft-flex--align-center {
  align-items: center;
}

.ft-flex--align-end {
  align-items: flex-end;
}

.ft-flex--justify-start {
  justify-content: flex-start;
}

.ft-flex--justify-center {
  justify-content: center;
}

.ft-flex--justify-end {
  justify-content: flex-end;
}

.ft-flex--wrap {
  flex-wrap: wrap;
}

.ft-flex--grow {
  flex-grow: 1;
}

.ft-flex--shrink {
  flex-shrink: 1;
}
