.ft-grid {
  padding-left: var(--ft-grid--padding);
  padding-right: var(--ft-grid--padding);
}

/* Default grid child element */
.ft-grid > * {
  padding-left: calc(var(--ft-grid--column-gap) / 2);
  padding-right: calc(var(--ft-grid--column-gap) / 2);
  width: var(--ft-grid--width);

  &:not(.ft-grid__full) {
    @media (--ft-viewport--md) {
      width: calc(10 * var(--ft-grid--column-width));
      margin-left: calc(1 * var(--ft-grid--column-width));
    }
  }
}

.ft-grid > ol,
.ft-grid > ul {
  padding-left: calc(var(--ft-grid--column-gap) / 2 + var(--ft-space--8));
}
