.ft-invert {
  --ft-color--background: var(--ft-color--white-4);
  --ft-color--border: var(--ft-color--white-3);
  --ft-color--text: var(--ft-color--white);
  --ft-color--text-1: var(--ft-color--white-1);
  --ft-color--text-2: var(--ft-color--white-2);
  color: var(--ft-color--text);
}

/*
.ft-invert--interaction {
  --ft-color--interaction: var(--ft-color--text);
  --ft-color--visited: var(--ft-color--text);
}
*/
