.fs-comment__author {
	padding-inline-end: var(--fs-space--1);
}

.fs-comment__metadata {
	--fs-color--interaction: var(--fs-color--text--2);
	--fs-color--text: var(--fs-color--text--2);
	color: var(--fs-color--text);
}

.fs-comment__content {
	/* Empty values switch blockquotes back to inherited type sizing */
	--fs-blockquote-font-size: ;
	--fs-blockquote-line-height: ;
	--fs-blockquote-margin-block: var(--fs-space--none);
}

.fs-comment p {
	--fs-font-size-x-height-scale: var(--fs-font-size-x-height-scale--serif);
	font-family: var(--fs-font-family--serif);
}
