.ft-article__content p,
.ft-article__content li {
  font-family: var(--ft-font-family--serif);
}

.ft-article__title {
  color: var(--ft-color--secondary-dimmed);
  margin-top: 0;
  margin-bottom: 0;
}

.ft-article__meta-header {
  --ft-color--interaction: var(--ft-color--text-2);
}

.ft-article__meta-footer {
  color: var(--ft-color--text-2);
}

.ft-article__categories {
  order: -1;
}
