.ft-teaser-pure {
  position: relative;
}

.ft-teaser-pure__title {
  margin: 0 0 var(--ft-space--2) 0;

  @media (--ft-viewport--0-md) {
    font-size: var(--ft-font-size--lg);
    line-height: var(--ft-line-height--lg);
  }

  @media (--ft-viewport--md) {
    font-size: var(--ft-font-size--xl);
    line-height: var(--ft-line-height--xl);
  }
}

.ft-teaser-pure__image {
  background-color: var(--ft-color--background);
  border-radius: var(--ft-border-radius--default);
  float: left;
  margin-bottom: var(--ft-grid--column-gap);
  margin-right: var(--ft-grid--column-gap);
  overflow: hidden;
  width: calc(4 * var(--ft-grid--column-width) - var(--ft-grid--column-gap));
}

.ft-teaser-pure__text {
  color: var(--ft-color--text-1);
}

.ft-teaser-pure__text p {
  /* --ft-color--interaction: var(--ft-color--text-1); */
  display: inline;
  margin: 0 var(--ft-space--1) 0 0;
}

.ft-teaser-pure__meta {
  order: -1;
}

.ft-teaser-pure__read-more-link {
  color: var(--ft-color--interaction-cta);

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }

  &::after {
    content: "→";
  }
}

/* Elevate links to make them clickable. */
.ft-teaser-pure a:not(.ft-teaser-pure__read-more-link) {
  position: relative;
  z-index: 1;
}
