/**
 * Font sizes: x-height (advanced typography)
 *
 * Different fonts with the same x-height look more homogenious, but in most
 * cases different fonts come with different x-heights on the same font-size.
 * `--fs-font-size-x-height-scale` allows to align the x-height, it can be used
 * as an additional factor for font-size.
 *
 * Example:
 * .blockquote {
 *   font-family: var(--fs-font-family-serif);
 *   font-size: var(--fs-font-size--md--serif);
 *   line-height: var(--fs-line-height--md);
 * }
 */

:root {
	--fs-font-size-x-height-scale--mono: 0.9;

	/*
	Uncomment the following section, if you want to use the x-height scales.
	As you can see, things might get complex fast.
	*/
	/*
	--fs-font-size-x-height-scale--sans: 1.0;
	--fs-font-size-x-height-scale--serif: 1.1;
	--fs-font-size-x-height-scale--mono: 0.9;
	--fs-font-size-x-height-scale--default: var(--fs-font-size-x-height-scale--sans);

	/* Calculated font sizes: sans * /
	--fs-font-size--sm--sans: calc(1rem * var(--fs-font-size-x-height-scale--sans) * pow(var(--fs-font-size-scale), -1));
	--fs-font-size--md--sans: calc(1rem * var(--fs-font-size-x-height-scale--sans) * pow(var(--fs-font-size-scale), 0));
	--fs-font-size--lg--sans: calc(1rem * var(--fs-font-size-x-height-scale--sans) * pow(var(--fs-font-size-scale), 1));
	--fs-font-size--xl--sans: calc(1rem * var(--fs-font-size-x-height-scale--sans) * pow(var(--fs-font-size-scale), 2));
	--fs-font-size--2xl--sans: calc(1rem * var(--fs-font-size-x-height-scale--sans) * pow(var(--fs-font-size-scale), 3));
	--fs-font-size--3xl--sans: calc(1rem * var(--fs-font-size-x-height-scale--sans) * pow(var(--fs-font-size-scale), 4));

	/* Calculated font sizes: serif * /
	--fs-font-size--sm--serif: calc(1rem * var(--fs-font-size-x-height-scale--serif) * pow(var(--fs-font-size-scale), -1));
	--fs-font-size--md--serif: calc(1rem * var(--fs-font-size-x-height-scale--serif) * pow(var(--fs-font-size-scale), 0));
	--fs-font-size--lg--serif: calc(1rem * var(--fs-font-size-x-height-scale--serif) * pow(var(--fs-font-size-scale), 1));
	--fs-font-size--xl--serif: calc(1rem * var(--fs-font-size-x-height-scale--serif) * pow(var(--fs-font-size-scale), 2));
	--fs-font-size--xxl--serif: calc(1rem * var(--fs-font-size-x-height-scale--serif) * pow(var(--fs-font-size-scale), 3));
	--fs-font-size--xxxl--serif: calc(1rem * var(--fs-font-size-x-height-scale--serif) * pow(var(--fs-font-size-scale), 4));

	/* Calculated font sizes: mono * /
	--fs-font-size--sm--mono: calc(1rem * var(--fs-font-size-x-height-scale--mono) * pow(var(--fs-font-size-scale), -1));
	--fs-font-size--md--mono: calc(1rem * var(--fs-font-size-x-height-scale--mono) * pow(var(--fs-font-size-scale), 0));
	--fs-font-size--lg--mono: calc(1rem * var(--fs-font-size-x-height-scale--mono) * pow(var(--fs-font-size-scale), 1));
	--fs-font-size--xl--mono: calc(1rem * var(--fs-font-size-x-height-scale--mono) * pow(var(--fs-font-size-scale), 2));
	--fs-font-size--2xl--mono: calc(1rem * var(--fs-font-size-x-height-scale--mono) * pow(var(--fs-font-size-scale), 3));
	--fs-font-size--3xl--mono: calc(1rem * var(--fs-font-size-x-height-scale--mono) * pow(var(--fs-font-size-scale), 4));

	/* Calculated font sizes: default * /
	--fs-font-size--sm--default: var(--fs-font-size--sm--sans);
	--fs-font-size--md--default: var(--fs-font-size--md--sans);
	--fs-font-size--lg--default: var(--fs-font-size--lg--sans);
	--fs-font-size--xl--default: var(--fs-font-size--xl--sans);
	--fs-font-size--2xl--default: var(--fs-font-size--2xl--sans);
	--fs-font-size--3xl--default: var(--fs-font-size--3xl--sans);
	/**/
}
