/**
 * Color: Palette
 */

:root {
	/* Brand */
	--fs-color--primary: oklch(59.51% 0.226 5.27);
	--fs-color--secondary: oklch(67.5% 0.112 217.32);
	--fs-color--secondary-dimmed: oklch(
		from var(--fs-color--secondary) calc(l - 14.47%) calc(c - 0.019) h
	);

	/* Grayscale */
	--fs-color--black: oklch(0% 0 0 / 87%);
	--fs-color--black-1: oklch(from var(--fs-color--black) l c h / 66%);
	--fs-color--black-2: oklch(from var(--fs-color--black) l c h / 50%);
	--fs-color--black-3: oklch(from var(--fs-color--black) l c h / 20%);
	--fs-color--black-4: oklch(from var(--fs-color--black) l c h / 5%);
	--fs-color--white: oklch(100% 0 0 / 87%);
	--fs-color--white-1: oklch(from var(--fs-color--white) l c h / 66%);
	--fs-color--white-2: oklch(from var(--fs-color--white) l c h / 50%);
	--fs-color--white-3: oklch(from var(--fs-color--white) l c h / 20%);
	--fs-color--white-4: oklch(from var(--fs-color--white) l c h / 10%);

	/* Other */
	--fs-color--mark: oklch(81.7% 0.17 77.69 / 24%);

	/* Define color scheme */
	color-scheme: dark light;

	/**
	 * Color properties, which reference colors from the palette.
	 * Should be used instead of the color palette properties.
	 */
	--fs-color--shadow: var(--fs-color--black-4);
	--fs-color--focus: var(--fs-color--primary);
	--fs-color--interaction: var(--fs-color--secondary);
	--fs-color--interaction-cta: var(--fs-color--primary);
	--fs-color--visited: var(--fs-color--secondary-dimmed);

	@media (prefers-color-scheme: light) {
		color-scheme: light;
		--fs-color--site-background: var(--fs-color--white);
		--fs-color--background: var(--fs-color--black-4);
		--fs-color--border: var(--fs-color--black-3);
		--fs-color--strong: var(--fs-color--black);
		--fs-color--text: var(--fs-color--black);
		--fs-color--text-1: var(--fs-color--black-1);
		--fs-color--text-2: var(--fs-color--black-2);
	}

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
		--fs-color--site-background: var(--fs-color--black);
		--fs-color--background: var(--fs-color--white-4);
		--fs-color--border: var(--fs-color--white-3);
		--fs-color--strong: var(--fs-color--white);
		--fs-color--text: var(--fs-color--white);
		--fs-color--text-1: var(--fs-color--white-1);
		--fs-color--text-2: var(--fs-color--white-2);
	}
}
