/**
 * Border width
 */

:root {
	--fs-border-width--none: 0;
	--fs-border-width--sm: var(--fs-space--0\.25);
	--fs-border-width--md: var(--fs-space--0\.5);
	--fs-border-width--lg: var(--fs-space--1);
	--fs-border-width--default: var(--fs-border-width--md);
}
