/**
 * Shadows
 */

:root {
	--fs-shadow--default: var(--fs-space--0) var(--fs-space--0) var(--fs-space--2) var(--fs-space--0) var(--fs-color--shadow);
	--fs-shadow--interaction-transparent: var(--fs-space--0) var(--fs-space--0) var(--fs-space--2) var(--fs-space--0) transparent;
	--fs-shadow--interaction: var(--fs-space--0) var(--fs-space--0) var(--fs-space--2) var(--fs-space--0) var(--fs-color--interaction);
	--fs-shadow--interaction-cta: var(--fs-space--0) var(--fs-space--0) var(--fs-space--2) var(--fs-space--0) var(--fs-color--interaction-cta);
}
