:root {
  /*
   * Please ALWAYS use both font-size--xy AND line-height--xy properties
   * together as a pair with the same dimension for a persistent typographic
   * system. Example:
   *
   * h1 {
   *   font-size: var(--cmpr--font-size--xl);
   *   line-height: var(--cmpr--line-height--xl);
   * }
   */

  /* Line height of root element */
  --fs-line-height-root  : 1.6;

  /* Line height variants are calculated via --fs-line-height-root and this factor */
  --fs-line-height-scale : 0.9;

  /* Line heights, calculated via --fs-line-height-scale */
  --fs-line-height--sm   : calc(var(--fs-line-height--root) * pow(var(--fs-line-height--scale), 0));
  --fs-line-height--base : calc(var(--fs-line-height--root) * pow(var(--fs-line-height--scale), 0));
  --fs-line-height--md   : calc(var(--fs-line-height--root) * pow(var(--fs-line-height--scale), 1));
  --fs-line-height--lg   : calc(var(--fs-line-height--root) * pow(var(--fs-line-height--scale), 2));
  --fs-line-height--xl   : calc(var(--fs-line-height--root) * pow(var(--fs-line-height--scale), 3));
  --fs-line-height--xxl  : calc(var(--fs-line-height--root) * pow(var(--fs-line-height--scale), 4));
}
