/**
 * Easing: transition and animation
 *
 * Common transition functions. Choose *one* for your `--fs-easing--default`.
 */

:root {
	--fs-easing--ease-in: ease-in;
	--fs-easing--ease-out: ease-out;
	--fs-easing--ease-in-out: ease-in-out;
	--fs-easing--ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	--fs-easing--ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
	--fs-easing--ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
	--fs-easing--ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	--fs-easing--ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	--fs-easing--ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
	--fs-easing--ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
	--fs-easing--ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
	--fs-easing--default: var(--fs-easing--ease-in-out);
}
