/**
 * Color – Black alpha: ramp
 *
 * Less is more: only define steps that are actually in use.
 *
 * Step number = alpha × 10, so `--200` is black at 20% opacity.
 */

:root {
	--fs-color--black-alpha--050: oklch(from var(--fs-color--black) l c h / 5%);
	--fs-color--black-alpha--200: oklch(from var(--fs-color--black) l c h / 20%);
	--fs-color--black-alpha--500: oklch(from var(--fs-color--black) l c h / 50%);
	--fs-color--black-alpha--660: oklch(from var(--fs-color--black) l c h / 66%);
	--fs-color--black-alpha--870: oklch(from var(--fs-color--black) l c h / 87%);
}
