/**
 * Opacity
 *
 * To be used for opacity, background-color with alpha, etc.
 */

:root {
	--fs-opacity--none: 0;
	--fs-opacity--low: 0.25;
	--fs-opacity--medium: 0.5;
	--fs-opacity--high: 0.75;
	--fs-opacity--full: 1;
}
