/**
 * Font sizes
 *
 * Please ALWAYS use both font-size--xy AND line-height--xy properties
 * together as a pair with the same dimension for a persistent typographic
 * system. Example:
 *
 * h1 {
 * 	font-size: var(--fs-font-size--xl);
 * 	line-height: var(--fs-line-height--xl);
 * }
 */

:root {
	--fs-font-size--sm: calc(1rem * var(--fs-font-size-x-height-scale) * pow(var(--fs-font-size-scale), -1));
	--fs-font-size--md: calc(1rem * var(--fs-font-size-x-height-scale) * pow(var(--fs-font-size-scale), 0));
	--fs-font-size--lg: calc(1rem * var(--fs-font-size-x-height-scale) * pow(var(--fs-font-size-scale), 1));
	--fs-font-size--xl: calc(1rem * var(--fs-font-size-x-height-scale) * pow(var(--fs-font-size-scale), 2));
	--fs-font-size--2xl: calc(1rem * var(--fs-font-size-x-height-scale) * pow(var(--fs-font-size-scale), 3));
	--fs-font-size--3xl: calc(1rem * var(--fs-font-size-x-height-scale) * pow(var(--fs-font-size-scale), 4));
}
